*{margin: 0;
	padding: 0;
}

header{background-color: #3D5B99;
}
.container{width: 992px;

	margin: 0 auto;
	padding: 15px;
	overflow: hidden;
}
.logside{width: 50%;
	float: left;
}
.logo{padding-top: 11px;
	float: left;
}
.signup{float: left;
    margin-left: 15px ;
	margin-top: 19px;
	padding: 11px;
	
	background-color: #36A420;
	text-decoration: none;



}
.signup a{color: #E1FFF9;
	text-decoration: none;
}

.signup a:hover{background-color: #3D5B99;

}
  						/*login part*/
body{background-color: #EEF5FF;

}
.login{width: 50%;
	float: right;
	color: #E1FFF9;
}
.email{float: left;
	margin-left: 15px ;
	padding-top: 8px;
}

.password{float: left;
	margin-left: 15px ;
	padding-top: 8px;
}
.password a{color: #E1FFF9;
	text-decoration: none;
}
.submit{float: left;
	margin-left: 15px ;
	margin-top: 25px;
	background-color: #3D5B9a;
}

								/*2 div part*/

.written{width: 628px;
	float: left;
	margin-left: 319px;
	margin-top: 122px;
	margin-right: 10px;
	height: 384px;
	
	background-image: url("mobile.jpg");
	border-radius: 28px;

}
.written h1{margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 5px;

	color: #1F76E9;
}
.written h2{margin-top: 43px;
	margin-left: 10px;
	color: black;
}


					/*form part */
.wrapper{width: 628px;
	height: 407px;
	text-align: center;
	margin-top: 121px;

	margin-left: 637px;
	background-color: #E4F1FA;
	overflow: hidden;
	border-radius: 28px;
	
}
.form{margin-top: 81px;
	margin-bottom: 9px;

}
.labutton{width: 157px;
	padding: 5px;
	margin-left: 231px
	;
	min-height: 21px;
	background-color: #3D5B99;
	
}
.labutton a{text-decoration: none;
	color: white;
}
hr{width: 470px;
	margin-left: 82px;}
	
.new{width: 200px;
	padding: 11px;
	
	margin-left: 204px;
	background-color: #38aa22;

}
.new a{text-decoration: none;
	color: white;
}

				/*start new part*/
.boss{width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	overflow: hidden;

}
								
.buisness{width: 31%;
	height: 330px;
	padding: 15px;
	margin-left: 5px;
	float: left;
	background-color: #E4F1FA;
	border-radius: 20px;
	
}	
.me{width: 31%;
	height: 330px;
	padding: 15px;
	margin-left: 5px;
	float: left;
	background-color: #E4F1FA;
	border-radius: 20px;
	
}	
.blog{width: 31%;
	height: 330px;
	padding: 15px;
	margin-left: 5px;
	float: left;
	background-color: #E4F1FA;
	border-radius: 20px;
	
}


				/*form part*/
form{width: 556px;
	margin-left: 621px;
	margin-top: 53px;
	padding: 63px;
	background-color: #E4F1FA;
	border-radius: 61px;

}









			               /*footer*/

footer{background-color: #C7D8E8;
	width:;
	
	border-radius: 20px;


}
.fot{width: ;
	margin:0 auto ;
	margin-top: 40px;
	
	height: 100px;
	padding: 50px;
	overflow: hidden;
	
}
.link{width: 25%;
	float: left;
	margin-left: 156px;
}
.link a{text-decoration: none;
	padding: 10px;
}
.copy{width: 25%;
	float: left;
	
}
.about{width: 25%;
	float: left;
margin-left: 156px;
}
	               